.section {
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.sectionTitle {
    font-size: 3rem;
}

.description {
    font-size: 1.7rem;
}

.image {
    max-width: 40%;
    max-height: 750px;
    border-radius: 20px;
    object-fit: contain;
}