.footer {
    background-image: linear-gradient(
        in srgb-linear,
        var(--highlight-pink) 0%,
        var(--secondary-pink) 4%,
        var(--bg-offwhite) 7%
    );
}

.footerTop {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 150px 5%;
    border-bottom: 2px solid #00000033;
}

.icon {
    height: 100px;
    width: 100%;
    background-image: url('../assets/icon-full-colour.avif');
    background-size: contain;
    background-repeat: no-repeat;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 700;
    font-size: 2rem;
}

.social a {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.footerBottom {
    padding: 100px 5%;
    color: #00000088;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.names { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.document {

}

.credit {

}

.creditLink {
    text-decoration: underline;
}

.disclaimer {
    width: 40%;
}