.footer {
    background-color: var(--bg-offwhite);
}

.footerTop {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 150px 5%;
    border-bottom: 2px solid #00000033;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionTitle {
    position: relative;
    font-size: 3rem;
}

.sectionTitle::before  {
    content: "";
    display: inline-block;
    inset: 0;
    height: 100px;
    width: 100px;
    background-image: url('../assets/icon-full-colour.avif');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transform: translateX(-120%) translateY(calc(-50% + 1.5rem));
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 700;
    font-size: 2rem;
}

.social a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.footerBottom {
    padding: 100px 5%;
    color: #00000088;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.names { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.document {

}

.creditContainer {
    display: flex;
    flex-direction: column;
}

.credit {

}

.creditLink {
    text-decoration: underline;
}

.disclaimer {
    width: 40%;
}