.footer {
    background-color: var(--bg-offwhite);
    min-height: 100vh;
    padding: 100px 5%;
}

.icon {
    height: 100px;
    width: 100px;
    background-image: url('../assets/icon-full-colour.avif');
    background-size: contain;
}