.shadow {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 0;
    box-shadow: 0 0 100px 50px #000000ff;
    z-index: 200;
    opacity: 0;
    transition: 0.2s;
}

.shadow:not(.scrolled):not(:has(+ .topBar:hover)) {
    opacity: 1;
    transition: 0.2s;
}

.shadow.hidden {
    transform: translateY(-200px);
}

.topBar, 
.topBar::before, 
.logo::before, 
.logo::after {
    transition: 0.2s;
}

.topBar {
    position: fixed;
    height: 130px;
    width: 100vw;
    z-index: 300;
    color: var(--highlight-pink);
}

.topBar:hover, 
.topBar.scrolled {
    color: black;
}

.topBar.hidden {
    transform: translateY(-200px);
}

.topBar::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1; 
    background: url('../assets/topbar.avif') no-repeat bottom center / cover;
    filter:
        drop-shadow(var(--shadow-1))
        drop-shadow(var(--shadow-2)) 
        drop-shadow(var(--shadow-4))
        drop-shadow(var(--shadow-8)) 
        drop-shadow(var(--shadow-16));
    opacity: 0;
}

.topBar:hover::before, 
.topBar.scrolled::before {
    opacity: 1;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.logo {
    display: block;
    position: relative;
    font-size: 1.4rem;
    height: 100px;
    width: 232px;
}

.logo::before, 
.logo::after {
    content: "";
    position: absolute;
    inset: 0;
    background: no-repeat center / contain;
}

.logo::before {
    background-image: url('../assets/logo-pink.avif');
}

.logo::after {
    background-image: url('../assets/logo-full-colour.avif');
    opacity: 0;
}

.topBar:hover .logo::before, 
.topBar.scrolled .logo::before {
    opacity: 0;
}

.topBar:hover .logo::after, 
.topBar.scrolled .logo::after {
    opacity: 1;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    font-size: 1.2rem;
}