.shadow {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 0;
    box-shadow: 0 0 100px 50px #000000ff;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.2s;
}

.shadow:not(.scrolled):not(:has(+ .topBar:hover)) {
    opacity: 1;
    transition: opacity 0.2s;
}

.topBar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    z-index: 1000;
    color: var(--highlight-pink);
    transition: 0.2s;
}

.topBar:hover, .topBar.scrolled {
    transition: 0.2s;
    background-color: var(--bg-offwhite);
    color: black;
    box-shadow:
        var(--shadow-4),
        var(--shadow-16);
}

.logo {
    display: block;
    position: relative;
    font-size: 1.4rem;
    height: 100px;
    width: 232px;
}

.logo::before, .logo::after {
    content: "";
    position: absolute;
    inset: 0;
    background: no-repeat center / contain;
    transition: opacity 0.2s;
}

.logo::before {
    background-image: url('../assets/logo-pink.avif');
    opacity: 1;
}

.topBar:hover .logo::before, .logo.scrolled::before  {
    opacity: 0;
    transition: opacity 0.2s;
}

.logo::after {
    background-image: url('../assets/logo-full-colour.avif');
    opacity: 0;
}

.topBar:hover .logo::after, .logo.scrolled::after {
    opacity: 1;
    transition: opacity 0.2s;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    font-size: 1.2rem;
}

.contact {
    color: black;
    background-color: var(--highlight-pink);
}