html {
    scroll-behavior: smooth;
}

body {
    background-color: #333333;
    padding-bottom: 200vh;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.light-lato {
  font-family: "Lato", "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}