:root {
    --bg-offwhite: #f4f3f2;
    --highlight-yellow: #f8c446;
    --lowlight-yellow: #c69810;
    --highlight-teal: #416b70;
    --highlight-pink: #bf799b;
    
    --shadow-1: 0 1px 1px hsl(0deg 0% 0% / 0.075);
    --shadow-2: 0 2px 2px hsl(0deg 0% 0% / 0.075);
    --shadow-4: 0 4px 4px hsl(0deg 0% 0% / 0.075);
    --shadow-8: 0 8px 8px hsl(0deg 0% 0% / 0.075);
    --shadow-16: 0 16px 16px hsl(0deg 0% 0% / 0.075);
}